<h1>{{title}} </h1>
<div>
    <h2>Edit Home</h2>
    <app-home-detail [Input_home] = "selectedHome"></app-home-detail>
</div>
<h2 class="listhome">List Home</h2>
<ul>
    <li *ngFor="let item of List_home">
        <h3>{{item.home_code}} {{item.home_name}} </h3>
        <div class="container_button">
            <button type="click" (click)="onSelect(item)" >Select</button>
            <button type="click" (click)="onAddMessage(item)" >Show Detail</button>
        </div>
    </li>
</ul>

<app-message></app-message>
